# Server
PORT=8070
NODE_ENV=development

# Besu RPC Nodes (Multi-RPC con Load Balancing)
VALIDATOR_NODE_1=http://localhost:8050
VALIDATOR_NODE_2=http://localhost:8052
VALIDATOR_NODE_3=http://localhost:8053
VALIDATOR_NODE_4=http://localhost:8054


PRIVATE_KEY=0x8f2a55949038a9610f50fb23b5883af3b4ecb3c3bb792cbcefbd1542c692be63

# RPC NODES - Para consultas (READ)
RPC_NODE_1=http://localhost:8055
RPC_NODE_2=http://localhost:8057
RPC_NODE_3=http://localhost:8059


CHAIN_ID=12345

# Contract Addresses (Deployed)
USER_REGISTRY_ADDRESS=0x9a3DBCa554e9f6b9257aAa24010DA8377C57c17e
USFCI_ADDRESS=0x2E1f232a9439C3D459FcEca0BeEf13acc8259Dd8
LOAN_REGISTRY_ADDRESS=0xfeae27388A65eE984F452f86efFEd42AaBD438FD
SHARE_LOANS_ADDRESS=0x686AfD6e502A81D2e77f2e038A23C0dEf4949A20
PORTFOLIO_ADDRESS=0x9ab7CA8a88F8e351f9b0eEEA5777929210199295
MARKETPLACE_BRIDGE_ADDRESS=0xC9Bc439c8723c5c6fdbBE14E5fF3a1224f8A0f7C


# JWT Authentication
JWT_SECRET=tu-super-secreto-cambiar-en-produccion
JWT_EXPIRES_IN=24h

#GraphQL migration:
GRAPHQL_URL=https://fapi.myfci.com/graphql
GRAPHQL_TOKEN=88S8SEPUcjUkg4YXKceE9JHWrQ25P8oUeH_CLTjWLGQ
GRAPHQL_URL_DEV=https://tapi.myfci.com/graphql
