# Server
PORT=8070
NODE_ENV=development

# Besu RPC Nodes (Multi-RPC con Load Balancing)
VALIDATOR_NODE_1=http://localhost:8050
VALIDATOR_NODE_2=http://localhost:8052
VALIDATOR_NODE_3=http://localhost:8053
VALIDATOR_NODE_4=http://localhost:8054


PRIVATE_KEY=0x8f2a55949038a9610f50fb23b5883af3b4ecb3c3bb792cbcefbd1542c692be63

# RPC NODES - Para consultas (READ)
RPC_NODE_1=http://localhost:8055
RPC_NODE_2=http://localhost:8057
RPC_NODE_3=http://localhost:8059


CHAIN_ID=12345

# Contract Addresses (Deployed)
USER_REGISTRY_ADDRESS=0x4245CF4518CB2C280f5e9c6a03c90C147F80B4d9
USFCI_ADDRESS=0x5EB5888938e3fE7b334b1838B19C1e828c5148aA
LOAN_REGISTRY_ADDRESS=0x4261D524bc701dA4AC49339e5F8b299977045eA5
SHARE_LOANS_ADDRESS=0xBF921f94Fd9eF1738bE25D8CeCFDFE2C822c81B0
PORTFOLIO_ADDRESS=0xBeC8a9e485a4B75d3b14249de7CA6D124fE94795
MARKETPLACE_BRIDGE_ADDRESS=0xd6A7c915066E17ba18024c799258C8A286fFBc00


# JWT Authentication
JWT_SECRET=tu-super-secreto-cambiar-en-produccion
JWT_EXPIRES_IN=24h

#GraphQL migration:
GRAPHQL_URL=https://fapi.myfci.com/graphql
GRAPHQL_TOKEN=88S8SEPUcjUkg4YXKceE9JHWrQ25P8oUeH_CLTjWLGQ
