# Server
PORT=8070
NODE_ENV=development

# Besu VALIDADORES Nodes (Multi-RPC con Load Balancing)
#VALIDATOR_NODE_1=http://localhost:8050
#VALIDATOR_NODE_2=http://localhost:8052
#VALIDATOR_NODE_3=http://localhost:8053
#VALIDATOR_NODE_4=http://localhost:8054

VALIDATOR_LOANS=http://localhost:8050
VALIDATOR_USERS=http://localhost:8052
VALIDATOR_USFCI=http://localhost:8053
VALIDATOR_MARKETPLACE=http://localhost:8054


PRIVATE_KEY=0x8f2a55949038a9610f50fb23b5883af3b4ecb3c3bb792cbcefbd1542c692be63

# RPC NODES - Para consultas (READ)
RPC_NODE_1=http://localhost:8055
RPC_NODE_2=http://localhost:8057
RPC_NODE_3=http://localhost:8059


CHAIN_ID=12345

# Contract Addresses (Deployed)
USER_REGISTRY_ADDRESS=0xa50a51c09a5c451C52BB714527E1974b686D8e77
USFCI_ADDRESS=0x9B8397f1B0FEcD3a1a40CdD5E8221Fa461898517
LOAN_REGISTRY_ADDRESS=0x05d91B9031A655d08E654177336d08543ac4B711
SHARE_LOANS_ADDRESS=0xDE87AF9156a223404885002669D3bE239313Ae33
PORTFOLIO_ADDRESS=0x664D6EbAbbD5cf656eD07A509AFfBC81f9615741
MARKETPLACE_BRIDGE_ADDRESS=0xe135783649BfA7c9c4c6F8E528C7f56166efC8a6


# JWT Authentication
JWT_SECRET=tu-super-secreto-cambiar-en-produccion
JWT_EXPIRES_IN=24h

#GraphQL migration:
GRAPHQL_URL=https://fapi.myfci.com/graphql
GRAPHQL_TOKEN=88S8SEPUcjUkg4YXKceE9JHWrQ25P8oUeH_CLTjWLGQ
GRAPHQL_URL_DEV=https://fapi.myfci.com/graphql
